.schedule-table {
    margin-bottom: 2rem;
}

.schedule-table th, .schedule-table td {
    text-align: center;
    vertical-align: top;
}

.lecture-highlight {
    background-color: rgba(216, 240, 240, 0.5);
}

.online-highlight {
    background-color: rgba(223, 240, 216, 0.5);
}

.today-highlight {
    background-color: rgba(236, 224, 178, 0.2);
}

table td {
    text-align: center;
    vertical-align: middle;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 768px) {
    table {
        font-size: 12px; /* Уменьшение шрифта на небольших экранах */
    }
}

@media (max-width: 480px) {
    table, thead, tbody, th, td, tr {
        display: block; /* Блочный формат для очень маленьких экранов */
    }

    tr {
        margin-bottom: 15px; /* Добавляем отступы между строками */
    }

    td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    td:before {
        content: attr(data-label); /* Используем атрибут для заголовков столбцов */
        position: absolute;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
}

body {
    background-color: #f0f0f0;
}
